.box{
    background-color: aqua;
    /*transform:translate(100px,100px);
    transform:rotate(-45deg);*/
    margin:200px;
    transform:scale(1.5,2);
    transform:scaleX(2);
    transform:scaleY(5);
    transform:skew(-180deg);
    /*transform: matrix(1,2,1,-1,);*/
}